In [2]:
import pandas as pd
import pyterrier as pt
# read csvs without header, column names are qid, sep, uuid, score
if not pt.started():
    pt.init()
qrels = pt.io.read_qrels("../dataset/assessments/qrels.txt") # type: ignore
qcred = pt.io.read_qrels("../dataset/assessments/qcredibility.txt") # type: ignore
qread = pt.io.read_qrels("../dataset/assessments/qreadability.txt") # type: ignore

# Read the credibility scores
credibility_scores = pd.read_csv('all_passages_credibility_scores_bert.tsv', sep='\t')
qrels.head()

PyTerrier 0.9.2 has loaded Terrier 5.8 (built by craigm on 2023-11-01 18:05) and terrier-helper 0.0.8

No etc/terrier.properties, using terrier.default.properties for bootstrap configuration.

  qid                                 docno  label
0   1  a6195d99-f7d7-43ec-907c-435cb7a62ee7      2
1   1  80fd9af1-c9b6-4d82-b62a-fe16d5b9d76f      1
2   1  4a8c5d85-b2d0-43bc-83f4-c1acfe0b3481      2
3   1  22990a4b-6a9f-4e00-9e72-aef0fbee202b      0
4   1  fd6ddab2-e4d9-4151-9972-256f5be6eb21      1

In [3]:
# Merge the credibility scores with the qrels
passages_with_qcred = pd.merge(credibility_scores, qcred, left_on="docid", right_on="docno")

In [4]:
# Correlation between credibility score and credibility label
passages_with_qcred[['credibility_score_bert', 'label']].corr()

                        credibility_score_bert     label
credibility_score_bert                1.000000  0.067204
label                                 0.067204  1.000000

In [5]:
# Read the readability scores
readability_scores = pd.read_csv('all_passages_readability_scores.tsv', sep='\t')
# Merge the readability scores with the qrels
passages_with_qread = pd.merge(readability_scores, qread, left_on="docid", right_on="docno")
# Correlation between readability scores and readability label
passages_with_qread[["flesch_reading_ease", "text_standard",  "label"]].corr()

                     flesch_reading_ease  text_standard     label
flesch_reading_ease             1.000000      -0.731399  0.176506
text_standard                  -0.731399       1.000000 -0.147296
label                           0.176506      -0.147296  1.000000